/** Custom Styles **/
.site-title img {
  width: auto;
  height: 20px;

  @media (min-width: 50rem) {
    height: 22px;
  }
}

.sidebar-pane {
  --sl-z-index-pane: 7;
  z-index: var(--sl-z-index-pane);
}

.right-sidebar nav {
  z-index: var(--sl-z-index-menu);
}

.sl-markdown-content :is(img, picture, video, canvas, svg, iframe):not(:where(.not-content *)).svg-baseline {
  display: inline-flex;
  align-self: center;
  max-width: 100%;
  height: auto;
  top: .125em;
  position: relative;
}
