---
---
<script is:inline async src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>

<div data-ea-publisher="httpgetdoksorg" data-ea-type="image" id="thulite-docs-single"></div>

<style is:global>
  div [data-ea-publisher].loaded {
    margin: 1.5rem 0;
  }

  [data-ea-publisher].loaded,
  [data-ea-type].loaded {
    font-family: inherit !important;
  }

  [data-ea-publisher].loaded .ea-content,
  [data-ea-type].loaded .ea-content {
    color: inherit !important;
    background-color: var(--sl-color-gray-6) !important;
    border-radius: .5rem !important;
    border: 1px solid var(--sl-color-text-accent) !important;
    box-shadow: var(--sl-shadow-md) !important;
  }

  [data-ea-publisher].loaded .ea-content a:link,
  [data-ea-type].loaded .ea-content a:link,
  [data-ea-publisher].loaded .ea-content a:visited .ea-body,
  [data-ea-type].loaded .ea-content a:visited .ea-body {
    color: inherit !important;
  }

  [data-ea-publisher].loaded .ea-content a strong,
  [data-ea-publisher].loaded .ea-content a b,
  [data-ea-type].loaded .ea-content a strong,
  [data-ea-type].loaded .ea-content a b {
    color: var(--sl-color-white) !important;
    font-weight: 600;
  }

  [data-ea-publisher].loaded .ea-callout a:link,
  [data-ea-type].loaded .ea-callout a:link {
    color: inherit !important;
  }
</style>
