---
// Source: https://blog.otterlord.dev/posts/starlight-algolia/

import '@docsearch/css'
---

<div id="docsearch"></div>

<script>
  import docsearch from '@docsearch/js'

  docsearch({
    container: '#docsearch',
    appId: 'AHKXAT87MO',
    indexName: 'gethyas',
    apiKey: '72b68c153feda29c6ff4623a9f8b6073',
    insights: true,
  })
</script>

<style>
  div {
    display: contents;
  }

  div[data-open-modal] {
    width: 100%;
  }

  @media (min-width: 50rem) {
    :global(.DocSearch-Button) {
      width: 100%;
      max-width: 22rem;
    }
  }
</style>
